[submodule "shftr-API"]
	path = shftr-API
	url = https://github.com/Zan-Infdata/shftr-API.git
[submodule "shftr-addon"]
	path = shftr-addon
	url = https://github.com/Zan-Infdata/shftr-addon.git
[submodule "shftr-app"]
	path = shftr-app
	url = https://github.com/Zan-Infdata/shftr-app.git
[submodule "shftr-Unity"]
	path = shftr-Unity
	url = https://github.com/Zan-Infdata/shftr-Unity.git
[submodule "shftr-Unity-demo"]
	path = shftr-Unity-demo
	url = https://github.com/Zan-Infdata/shftr-Unity-demo.git
